<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Çizgi Technology</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles2.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<div class="banner">
    <div class="navbar">
        <img src="" class="logo"/>
        <ul>
            <li>
                <a href="~/Index">Home</a>
            </li>
            <li>
                <a href="~/About">About</a>
            </li>
            <li>
                <a href="~/Loginx">Login</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <h1>ARTECH/CURE VISION</h1>
        <p>Aiming to develop new technologies with Industrial Computers and Healthcare Solutions</p>
    </div>
    
    <div id="imagetrack" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image " src="https://plus.unsplash.com/premium_photo-1675686363460-25aa1039e94b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1686&q=80" draggable="false"/>
        <img class="image" src="https://images.unsplash.com/photo-1501523460185-2aa5d2a0f981?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1831&q=80" draggable="false"/>
        <img class="image" src="https://images.unsplash.com/photo-1561101904-da649fcbf03f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" draggable="false"/>
        <img class="image" src="https://images.unsplash.com/photo-1504813184591-01572f98c85f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1742&q=80" draggable="false"/>
        <img class="image" src="https://images.unsplash.com/photo-1533481405265-e9ce0c044abb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80" draggable="false"/>
        <img class="image" src="https://images.unsplash.com/photo-1586366775916-7018ef19ff34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" draggable="false"/>
        
        
         
    </div>
    
    
</div>
@RenderBody()
</body>

</html>