<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles2.css"/>
    
    
  
    
    <div class="navbar" style="position: absolute; top: 0;">
        <img src="" class="logo"/>
        <ul>
            
            <li>
                <a href="~/UserPage">User Page</a>
            </li>
            
            <li>
                <a href="~/Profile">Profile</a>
            </li>

            <li>
                <a href="~/Post">Ask GPT</a>
            </li>

            <li class="signout">
                <button class="signout-button" id="LogoutButton">Sign Out</button>
            </li>
        </ul>
    </div>
    
</head>

<body>


@RenderBody()

</body>

<script src="~/js/logout.js" asp-append-version="true"></script>
</html>